<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>Log In</h2>
    {% if logged == True %}
       <p>u are logged in </p>
    {% else %}
        <p> {{ error }} </p>
    {% endif %}
    <form method="post">
    <input type="text" name="user_name" placeholder="enter user name">
    <input type="password" name="password" placeholder="enter ur pass">
    <button type="submit">Log In</button>
    {% csrf_token %}
    </form>
    
</body>
</html>